@page "/about"
@inject IJSRuntime js
@inject AppInfo _appInfo


<MudPaper Height="500px" Width="100%" Elevation="0">
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="text-align:center">
        <MudImage Src="/_content/PresenceLight.Razor/images/profileimage.jpg" Style="height:300px; width:300px"></MudImage>
        <MudText Typo="Typo.h3">PresenceLight by Isaac Levin</MudText>
        <MudSpacer />


        <MudGrid Class="mt-10" Justify="Justify.FlexStart" Style="word-wrap:break-word">
            <MudItem xs="4">
                <MudText Typo="Typo.h6" Align="Align.Left">Application Type</MudText>
            </MudItem>
            <MudItem xs="8">
                <MudText Typo="Typo.h6" Align="Align.Left">@appType</MudText>
            </MudItem>
            <MudItem xs="4">
                <MudText Typo="Typo.h6" Align="Align.Left">Application Version</MudText>
            </MudItem>
            <MudItem xs="8">
                <MudText Typo="Typo.h6" Align="Align.Left">@assemblyVersion</MudText>
            </MudItem>
            <MudItem xs="4">
                <MudText Typo="Typo.h6" Align="Align.Left">Install Location</MudText>
            </MudItem>
            <MudItem xs="8">
                <MudText Typo="Typo.h6" Align="Align.Left">@installLocation</MudText>
            </MudItem>
            <MudItem xs="4">
                <MudText Typo="Typo.h6" Align="Align.Left">Install Date</MudText>
            </MudItem>
            <MudItem xs="8">
                <MudText Typo="Typo.h6" Align="Align.Left">@installedDate</MudText>
            </MudItem>
            <MudItem xs="4">
                <MudText Typo="Typo.h6" Align="Align.Left">Runtime Version</MudText>
            </MudItem>
            <MudItem xs="8">
                <MudText Typo="Typo.h6" Align="Align.Left">@RuntimeVersionInfo</MudText>
            </MudItem>
            <MudItem xs="4">
                <MudText Typo="Typo.h6" Align="Align.Left">Settings Path</MudText>
            </MudItem>
            <MudItem xs="8">
                <MudLink Typo="Typo.h6" Href="" title="Click to download configuration file" @onclick="@((ev) => DownloadSettings(@localConfigurationPath))" Align="Align.Left">@localConfigurationPath</MudLink>
            </MudItem>
        </MudGrid>
        <br />
        <br />
        <h6>Found an issue or want a feature? File it <a href="https://github.com/isaacrlevin/PresenceLight/issues/new/choose" target="_blank">here</a></h6>
    </MudContainer>
</MudPaper>

@code {
    string installLocation;
    string installedDate;
    string RuntimeVersionInfo;
    string assemblyVersion;
    string localConfigurationPath;
    string appType;

    protected override void OnInitialized()
    {
        appType = _appInfo.GetAppInstallType();
        installLocation = AppInfo.GetInstallLocation();
        installedDate = AppInfo.GetInstallationDate();
        RuntimeVersionInfo = AppInfo.GetDotNetRuntimeInfo();
        assemblyVersion = _appInfo.GetApplicationVersion();
        localConfigurationPath = new System.IO.FileInfo(SettingsService.GetSettingsFileLocation()).FullName;
    }

    async Task DownloadSettings(string filename)
    {
        string fileContents;
        using (var fs = new System.IO.FileStream(
                filename,
                System.IO.FileMode.Open,
                System.IO.FileAccess.Read,
                System.IO.FileShare.ReadWrite))
        {
            var b = new byte[fs.Length];

            fs.Read(b, 0, b.Length);
            fileContents = Convert.ToBase64String(b);
        }

        await js.InvokeAsync<object>(
                   "saveAsFile",
                   filename,
                   fileContents);
    }
}
