@page "/"

@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject AppState appState
@inject ILogger<Index> _logger;
@inject UserAuthService _userAuthService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor

@if (appState.SignedIn)
{
    <SpinLoader IsLoading="@(appState.Presence == null)">
        <LoadingTemplate>
            <div style="height:400px; position:relative; ">
                <Circle style=" margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);" Center="true" />
            </div>
        </LoadingTemplate>
        <ContentTemplate>
            <MudPaper Height="500px" Width="100%">
                <MudContainer MaxWidth="MaxWidth.Small" Style="text-align:center">
                    <MudText Typo="Typo.h1">@appState.User?.DisplayName</MudText>
                    <MudBadge Color="MudBlazor.Color.Success" Overlap="true" Bordered="true" Style="height:300px; width:300px">
                        <MudAvatar Image="@appState.ProfileImage" Style="height:300px; width:300px"></MudAvatar>
                    </MudBadge>
                    <MudText Typo="Typo.h3">Availability: @Helpers.HumanifyText(appState.Presence?.Availability)</MudText>
                    <MudText Typo="Typo.h3">Activity: @Helpers.HumanifyText(appState.Presence?.Activity)</MudText>
                </MudContainer>
            </MudPaper>
        </ContentTemplate>
    </SpinLoader>
}
else
{
    <MudPaper Height="500px" Width="100%">
        <MudContainer MaxWidth="MaxWidth.Small" Style="text-align:center">
            <MudText Typo="Typo.h6"> Login to Microsoft Account to Sync Presence</MudText>
            <MudButton OnClick="SignIn" Variant="Variant.Filled">Sign In</MudButton>
        </MudContainer>
    </MudPaper>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        appState.OnChange += RaiseStateHasChanged;
        bool isUserAuth = await _userAuthService.IsUserAuthenticated();
        if (!isUserAuth && appState.User == null)
        {
            appState.SetLightMode("");

            if (appState.Config.AppType == "Web")
            {
                await _httpContextAccessor.HttpContext.ChallengeAsync();
            }
        }
        else
        {
            if (appState.LightMode != "Custom")
            {
                appState.SignedIn = true;
                appState.SetLightMode("Graph");
                _logger.LogInformation("Light Mode: Graph");
            }
        }
    }

    void SignIn()
    {
        _logger.LogInformation("Sign In Requested");
        appState.SignInRequested = true;
    }

    public void Dispose()
    {
        appState.OnChange -= RaiseStateHasChanged;
    }

    private void RaiseStateHasChanged()
    {
        InvokeAsync(StateHasChanged);
    }
}
